<p id="notice"><%= notice %></p>

<p>
  <strong>Jobname:</strong>
  <%= @job.jobname %>
</p>

<p>
  <strong>Salary:</strong>
  <%= @job.salary %>
</p>

<p>
  <strong>Dividend income:</strong>
  <%= @job.dividend_income %>
</p>

<p>
  <strong>Business income:</strong>
  <%= @job.business_income %>
</p>

<p>
  <strong>Tax:</strong>
  <%= @job.tax %>
</p>

<p>
  <strong>Home payment:</strong>
  <%= @job.home_payment %>
</p>

<p>
  <strong>Education payment:</strong>
  <%= @job.education_payment %>
</p>

<p>
  <strong>Car payment:</strong>
  <%= @job.car_payment %>
</p>

<p>
  <strong>Creditcard payement:</strong>
  <%= @job.creditcard_payement %>
</p>

<p>
  <strong>Retail payment:</strong>
  <%= @job.retail_payment %>
</p>

<p>
  <strong>Education expense per child:</strong>
  <%= @job.education_expense_per_child %>
</p>

<p>
  <strong>Saving:</strong>
  <%= @job.saving %>
</p>

<p>
  <strong>Home roan:</strong>
  <%= @job.home_roan %>
</p>

<p>
  <strong>Payment roan:</strong>
  <%= @job.payment_roan %>
</p>

<p>
  <strong>Car roan:</strong>
  <%= @job.car_roan %>
</p>

<p>
  <strong>Creditcard roan:</strong>
  <%= @job.creditcard_roan %>
</p>

<p>
  <strong>Retail roan:</strong>
  <%= @job.retail_roan %>
</p>

<%= link_to 'Edit', edit_job_path(@job) %> |
<%= link_to 'Back', jobs_path %>
